# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.vs
build/UnitTests/ToolsFoundationTest/ToolsFoundationTest.dir/Debug/ToolsFou.21282BFB.tlog
build/Arbitor/T3Bootstrap/obj
build/Arbitor/T3Bootstrap/packages
build/Arbitor/CMakeFiles
build/Arbitor/T3Foundation/obj
build/CMakeFiles/2eab5c7ba5a9c792c418e465f29c95c9
build/CMakeFiles/4.3.1/CompilerIdC
build/CMakeFiles/4.3.1/CompilerIdCSharp/obj
build/CMakeFiles/4.3.1/CompilerIdCXX
build/CMakeFiles
build
Code/Output
Code/Arbitor/Themes/bin
Code/Arbitor/Themes/obj
.claude
